.checkout {
    display: flex;
    padding: 15px;
    background-color: white;
    height: max-content;
}
.checkout__ad {
    width: 50%;
    margin-bottom: 10px;
}
.wrap__ad {
    width: 100%;
    display: flex;
}
.checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}